<app-navbar></app-navbar>
<div class="header-container">
    <img [ngClass]="isDesktopDevise ? 'hide' : ''" class="background" src="../../assets/images/backgrounds/home-page-mobile.png" alt="">
    <img [ngClass]="isDesktopDevise ? '' : 'hide'" class="background" src="../../assets/images/backgrounds/home-page-desktop.png" alt="">

    <div class="header-content">
        <h1 class="tag">#WeAreHomeShapers</h1>
        <p class="title">Confiez nous vos travaux,
            Emménagez dans un intérieur qui vous ressemble.</p>
        <div class="quotation-btn">
            <p class="quotation-btn-content">Demander un devis</p>
        </div>
        <fa-icon class="down-arrow bounce" size= "3x"[icon]="faArrowDown"></fa-icon>
        <div class="tv-talk">
            <p class="tv-talk-title">Ils parlent de nous</p>
            <div class="tv-talk-logos">
                <img src="../../assets/images/logos/france2.png" alt="France 2">
                <img src="../../assets/images/logos/bfmtv.png" alt="BFM TV">
                <img src="../../assets/images/logos/france3.png" alt="France 3">

            </div>
        </div>
    </div>
</div>
<div class="body-container">
    <div class="why-trust">
        <h2 class="title section-title">
            Pourquoi nous faire confiance ?
        </h2>
        <div class="line"></div>
        <div class="why-trust-content">
            <div class="trust-group">
                <img src="../../assets/images/pictos/home.svg" alt="">
                <h3 class="trust-title">200 chantiers en 2018</h3>
                <a class="blue" href="#">Je veux les voir !</a>
            </div>
            <div class="trust-group">
                <img src="../../assets/images/pictos/ticket.png" alt="">
                <h3 class="trust-title">Des travaux au prix du marché</h3>
                <a class="orange" href="#">Estimez vous verrez !</a>
            </div>
            <div class="trust-group">
                <img src="../../assets/images/pictos/certificate.png" alt="">
                <h3 class="trust-title">Des travaux garantie 10 ans</h3>
                <a class="blue" href="#">Comment ca marche ?</a>
            </div>
            <div class="trust-group">
                <img src="../../assets/images/pictos/worker.png" alt="">
                <h3 class="trust-title">Un chef de chantier pour votre projet</h3>
                <a class="orange" href="#">Qui sont-ils ?</a>
            </div>
        </div>
    </div>

    <div class="intervention-zone">
        <h2 class="title section-title">Nos zones d'interventions</h2>
        <div class="line"></div>
        <div class="intervention-zone-item">
            <img src="../../assets/images/paris.png" alt="Tendances 2019">
            <div class="filter"></div>
            <div class="item-text">
                <p class="item-title">Paris </p>
                <p class="item-desc">et sa petite couronne</p>
            </div>
        </div>
        <div class="intervention-zone-item">
            <div class="filter"></div>
            <img src="../../assets/images/paris.png" alt="Tendances 2019">
            <div class="item-text">
                <p class="item-title">Bordeaux</p>
                <p class="item-desc">et sa communauté urbaine</p>
            </div>
        </div>
        <h2 class="section-title">et bientôt : </h2>
        <div class="soon-container">
            <span class="soon-item">
                Nantes
            </span>
            <span class="soon-item">
                Toulouse
            </span>
            <span class="soon-item">
                Lille
            </span>
            <span class="soon-item">
                Lyon
            </span>
        </div>

    </div>

    <div class="renovation-container d-flex-align">
        <h2 class="section-title">Nos dernières rénovations</h2>
        <div class="line"></div>
        <div *ngFor="let item of projects" class="renovation-item">
            <div class="item-image">
                <div *ngIf="item.selected" (mouseleave)="showProjectContent(item)"  class="filter"></div>
                <img (mouseover)="showProjectContent(item)" src="../../assets/images/paris.png" alt="Tendances 2019">
                <div *ngIf="item.selected"  class="item-desc">
                    <div class="desc-title">Surface <span> : {{item.surface}} m2</span></div>
                    <div class="desc-title">Budget <span> : {{item.budgect}}</span></div>
                    <div class="desc-title">Durée <span> : {{item.duration}} mois</span></div>
                    <button class="d-flex-align">Voir le projet<fa-icon class="right-arrow" size= "2x"[icon]="faArrowRight"></fa-icon></button>
                </div>
            </div>
            <div class="item-title">
                <p class="project-name">Projet {{item.name}}</p>
                <p class="project-city">{{item.cities}}</p>
            </div>
        </div>
    </div>
    <div [ngClass]="isDesktopDevise ? '' : 'hide'" class="before-after-container">
        before after
    </div>
</div>
